config DRIVERS_HDF_AUDIO
    bool "Enable HDF Audio driver"
    default y
    depends on DRIVERS_HDF
    help
        Answer Y to choice HDF Audio input driver.

config DRIVERS_HDF_AUDIO_TEST
    bool "Enable HDF Audio Test driver"
    default n
    depends on DRIVERS_HDF_AUDIO
    help
        Answer Y to choice HDF Audio Test input driver.
