config DRIVERS_HDF_AUDIO
    bool "Enable HDF Audio driver"
    default n
    depends on DRIVERS_HDF
    help
        Answer Y to choice HDF Audio driver.
config DRIVERS_HDF_AUDIO_HI3516CODEC
    bool "Enable HDF Audio Codec driver"
    default n
    depends on DRIVERS_HDF_AUDIO
    help
        Answer Y to choice HDF Audio Codec driver.

config DRIVERS_HDF_AUDIO_TEST
    bool "Enable HDF Audio driver Test"
    default n
    depends on DRIVERS_HDF_AUDIO
    help
        Answer Y to choice HDF Audio driver Test.
